@font-face {
    font-family: outfit;
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: young-serif;
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf');
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: hsl(30, 54%, 90%);
    height: 1900px;

}


main{
    width: 800px;
    height:max-content;
    margin: auto;
    margin-top: 150px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column; 
    padding: 50px; 
}



.img-container{
    width: 700px;
    height: 350px;
    border-radius: 20px;
}


.section-container{
    background-color:hsl(330, 100%, 98%);
    height: 200px;
    padding: 20px;
    padding-left: 40px;
    border-radius: 20px;
    
}



.title-main{
    margin-top: 30px;
    color:hsl(24, 5%, 18%);
    font-family: "young-serif";
    font-size: 40px;
    letter-spacing: 1px;
}


.title{
    margin-top: 30px;
    color: hsl(14, 45%, 36%);
    font-family: "young-serif";
}


.paragraph{
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "outfit";
    color: hsl(30, 10%, 34%);
}


.subtitle{
    margin-top: 10px;
    margin-bottom: 10px;
    color: hsl(332, 51%, 32%);
    font-family: "outfit";
    font-size: 20px;
}



.list-1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
    font-family: "outfit";
    color: hsl(30, 10%, 34%);
}


.list-2{
    margin-top: 20px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column; 
    gap: 15px;
    line-height: 22px;
    padding-left: 15px;
    font-family: "outfit";
    color: hsl(30, 10%, 34%);
}


.list-1>li::marker{
    color: hsl(332, 51%, 32%);
}


.list-2>li::marker{
    color: hsl(14, 45%, 36%);
}



table,
tr,
td
{
    font-family: "outfit";
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    border-collapse: collapse;
    padding: 10px;
    padding-left: 30px;
}
    


.line{
    border-bottom: 2px solid hsl(30, 18%, 87%);

}



td:nth-child(even){
    color: hsl(14, 45%, 36%);
    
}

hr{
    border: 1px solid hsl(30, 18%, 87%); ;
}

